@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: rgb(243, 242, 242);
  position: relative;
  width: 100vw;
}

.loading {
  position: fixed;
  z-index: 50;
  content: '';
  width: 100vw;
  height: 100vh;
  background-color: black;
}

nav {
  display: flex;
  margin: auto;
  width: 70vw;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
  position: absolute;
  margin-top: 1.5rem;
}

.nav-wrapper {
  width: 70vw;
  position: relative;
  margin: 0;
  margin: auto;
  height: 120px;
  overflow: hidden;
}

.logo {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 1rem;
  cursor: pointer;
}

nav ul li:hover {
  color: #e63946;
  transition: 0.3s;
}

.wrapper {
  height: 90vh;
  width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px 5px rgba(128, 128, 128, 0.315);
}

.wrapper h3 {
  display: flex;
  width: 10rem;
  height: 3rem;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper h3 {
  margin-top: 2em;
}

.wrapper h1 {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 120px;
  font-size: 100px;
}

.wrapper h3 {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 90px;
  font-size: 25px;
}

.hidebutton {
  position: absolute;
  margin: 0;
  margin-top: 2rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  color: black;
  cursor: pointer;
}

.hidebutton:hover {
  color: #e63946;
  border: 2px solid #e63946;
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.hidetext {
  position: absolute;
  margin: 0;
}

section {
  height: 100vh;
}

.btn-live,
.btn-source {
  margin: 2rem 2rem 0rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid #e63946;
  color: #e63946;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}

.cards {
  display: grid;
  width: 70vw;
  margin: auto;
  font-family: 'Poppins';
}

.card-1 h3,
.card-2 h3,
.card-3 h3 {
  margin: 2rem 0rem;
  color: #e63946;
}

.card-1,
.card-2,
.card-3 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 10rem 0rem;
}

.hide-card-1-col,
.hide-card-2-col,
.hide-card-3-col {
  position: absolute;
  content: '';
  width: 30vw;
  height: 50vh;
  background-color: rgb(243, 242, 242);
}

.hide-card-1-col-2,
.hide-card-2-col-2,
.hide-card-3-col-2 {
  position: absolute;
  right: 0;
  content: '';
  width: 40vw;
  height: 50vh;
  background-color: rgb(243, 242, 242);
}

.card-1-img {
  background-image: url('../static/Efarmogi.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vh;
}
.card-2-img {
  background-image: url('../static/Github.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vh;
}
.card-3-img {
  background-image: url('../static/Laptop.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vh;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  outline: none;
}

.portfolio,
.skills h3,
.about h3,
.contact h3 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 3rem;
}

.skills,
.about,
.contact {
  width: 70vw;
  margin: auto;
}

.skills {
  margin-top: 15rem;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  margin: 10rem;
}

.skills svg {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

.about p {
  font-size: 1.5rem;
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contact form {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.mobile-wrapper {
  display: none;
}

@media screen and (max-width: 670px) {
  .nav-wrapper {
    /* border: 2px solid red; */
  }

  .mobile-wrapper {
    display: block;
  }

  .line-1,
  .line-2,
  .line-3 {
    background-color: black;
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.2rem;
  }

  .cards {
    /* border: 2px solid yellow; */
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-1-img {
    margin-left: 1rem;
  }

  .card-1-details,
  .card-2-details,
  .card-3-details {
    display: flex;
    flex-direction: column;
  }

  .card-1-details p,
  .card-1-details button,
  .card-2-details p,
  .card-2-details button,
  .card-3-details p,
  .card-3-details button {
    text-align: center;
    width: 100%;
  }

  .about p {
    text-align: center;
  }

  .hide-card-1-col,
  .hide-card-2-col,
  .hide-card-3-col {
    display: none;
    /* position: absolute;
    content: '';
    width: 30vw;
    height: 50vh;
    background-color: rgb(243, 242, 242); */
  }

  .hide-card-1-col-2,
  .hide-card-2-col-2,
  .hide-card-3-col-2 {
    display: none;
    /* position: absolute;
    right: 0;
    content: '';
    width: 40vw;
    height: 50vh;
    background-color: rgb(243, 242, 242); */
  }

  .skills-wrapper {
    flex-wrap: wrap;
    margin: 5rem 0rem;
  }

  .skills-wrapper svg {
    /* border: 2px solid red; */
  }

  .about {
    margin-top: 30rem;
  }

  .contact form {
    display: flex;
    flex-direction: column;
  }

  .card-3-img {
    height: 20vh;
  }

  .logo {
    font-size: 1.5rem;
  }

  nav ul {
    display: none;
  }

  .wrapper {
    margin-top: 2rem;
    height: 100vh;
  }

  .wrapper h1 {
    font-size: 2.1rem;
    height: 3.5rem;
  }
}
